.finger-scroll-container {
    position: absolute;
    bottom: 40%;
    right: 50px;
    z-index: 999;
    animation: moveUpDown 2s linear infinite;
    width: 50px;
    height: 50px;
}

.finger-scroll-container > img {
  height: 50px !important;
  filter: brightness(0) saturate(100%) hue-rotate(0deg) sepia(100%) invert(100%);
  
}

/* 
.finger {
    font-size: 30px;
    cursor: pointer;
} */

.svg-inline--fa > path {
    color: #009FD6;
}

@keyframes moveUpDown {
  0% {
    bottom: 40%;
    opacity: 1;
  }
  100% {
    bottom: 60%;
    opacity: 0;
  }
}