.finger-scroll-container {
    position: fixed;
    bottom: 50%;
    right: 50px;
    z-index: 999;
    animation: moveUpDown 2s linear infinite;
}

.finger {
    font-size: 30px;
    cursor: pointer;
}

.svg-inline--fa > path {
    color: #009FD6;
}

@keyframes moveUpDown {
    0%, 100% {
      bottom: 40%;
      opacity: 1;
    }
    50% {
      bottom: calc(100% - 40%);
      opacity: 0;
    }
    51% {
      bottom: calc(100% - 40%);
      opacity: 0;
    }
    52% {
      bottom: 40%;
      opacity: 0;
    }

    90% {
        opacity: .8;
    }
  }