.finger-scroll-container {
    position: absolute;
    bottom: 30%;
    right: 50px;
    z-index: 999;
    animation: moveUpDown 2s linear infinite;
}

.finger-scroll-container > img {
  filter: brightness(0) saturate(100%) hue-rotate(0deg) sepia(100%) invert(100%);
}


.finger {
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.svg-inline--fa > path {
    color: #009FD6;
}

@keyframes moveUpDown {
    0% {
      bottom: 40%;
      opacity: 1;
    }
    50% {
      bottom: 55%;
      opacity: 0;
    }
    70% {
      opacity: 0.1;
    }
  }