.appear {
    opacity: 0;
    transition: opacity 2.5s, transform 0.3s ease-in;
}
  
.move-up {
  transform: translateY(30px); /* Initial position offscreen */
}

.appear.appeared {
  opacity: 1;
  transform: translateY(0); /* Final position onscreen */
}