.appear {
    opacity: 0;
    transform: translateY(20px); /* Initial position offscreen */
    transition: opacity 1s, transform 1s ease-in;
  }
  
  .appear.appeared {
    opacity: 1;
    transform: translateY(0); /* Final position onscreen */
  }