@media only screen and (max-width:809px )  { 
        
    .section {
        position: fixed;
        background-color:#151d31 !important;
        z-index: 3;
        transition: top 1s;
         
    
    }

    /* Define initial styles for your sections off-screen */
.section.hidden-down {
    top: -100%; /* Start off-screen at the top */
  }
  .section.hidden-down-show {
    top: 0;
  }
  
  .section.hidden-up {
    top: 100%; /* Start off-screen at the bottom */
  }

  .section.hidden-up-show {
    top:0;
  }

    .projects.section {
        margin-top: 0;
    }

    .skillservice.section  {
        margin-top: 0;
    }

    .contact.section {
        width: 100%;
    }

    .section::after {

                content: '';
        background: url("../../images/blueloadinggif.gif"); /* Replace with your background image */
        background-size: cover;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        
        opacity: 0.04; /* Adjust opacity for the image */
        z-index: -1; /* Place the pseudo-element behind the content */
        background-position: center center; /* Center the background image */
        pointer-events: none; 
        background-size: 200%;
        background-repeat: no-repeat;
        background-position: center center;
    }
    
}
