@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import "./styles/circle.css";
@import "./styles/main.css";
@import "./styles/rightRail/rightMain.css";
@import "./styles/rightRail/projects.css";
@import "./styles/rightRail/skillservice.css";
@import "./styles/rightRail/responsive.css";
@import "./styles/rightRail/finger.css";
@import "./styles/rightRail/intersection.css";


*{
  padding: none;
  margin: none;
  color: white;
  font-family: 'Lato', sans-serif;
}

.blank {
  display: none;
  color:#10172A;
}

.phone-logo-div {
  display: none;
}

.phone-mini-div {
  display: none;
}

body {
  background-color: #10172A;
  overflow: hidden; 
  scroll-behavior: smooth;
  
  /* if you change background color change blank color */
}

.finger-scroll-container {
  display: none;
}

.white {
  color: white !important;
}

.blue-background {
  background-color: #009FD6;
  padding-bottom: 2px;
  padding-left: 2.5px;
  padding-right: 2.5px;
  font-weight: bolder;
}

.blue {
  color: #009FD6;
  font-weight: bolder;
}

.gold {
  color: #eed15e;
  font-weight: bolder;
}

.i {  
  color:#eed15e;
  position: relative;
}
.i:before {
  content: "ı";
  position: absolute; 
  color: white;
}